# Ignore artifacts:
build
dist
coverage
node_modules
package-lock.json

# Environment
.env
.env.*

# Uploads and assets
uploads/
public/

# IDE and Tools
.vscode/
.dockerignore
Dockerfile

# Others
docs/
*.md
